<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/default_layout}">
	<!-- 필요 시 레이아웃 생성 후 교체 -->

<head>
	<title>회원가입</title>
</head>

<th:block layout:fragment="content">
	<div class="container w-25">
		<form class="row g-3 p-4 p-md-5" method="POST" action="/user/signup">
			<div class="col-12">
				<label for="userName" class="form-label">Name</label>
				<input type="text" class="form-control" id="userName" name="userName" placeholder="ex) 홍길동">
			</div>
			<div class="col-12">
				<label for="userId" class="form-label">ID</label>
				<input type="text" class="form-control" id="userId" name="userId" placeholder="ex) hong1234">
			</div>
			<div class="col-12">
				<label for="userPw" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" name="password">
			</div>
			<div class="col-12">
				<label for="passwordCheck" class="form-label">Password Check</label>
				<input type="password" class="form-control" id="passwordCheck">
			</div>
			
			<div class="col-12">
				<button type="submit" class="btn btn-primary w-100" id="signInBtn">Sign in</button>
			</div>
		</form>
	</div>
</th:block>

<th:block layout:fragment="script">
	<script>
		$(function() {
// 			document.getElementById("signInBtn").addEventListener("click", function() {
// 				alert("클릭");
// 			});

			
		})
	</script>
</th:block>

</html>