<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/only_content}">

<head>
	<title>Welcome</title>
	<link href="/css/cover.css" rel="stylesheet">
</head>

<body style="display:none;">
	<th:block layout:fragment="content">
		<div class="site-wrapper">
	
			<div class="site-wrapper-inner">
	
				<div class="container">
<!-- 					<div class="masthead clearfix"> -->
<!-- 						<div class="container inner"> -->
<!-- 							<h3 class="masthead-brand">Cover</h3> -->
<!-- 							<nav> -->
<!-- 								<ul class="nav masthead-nav"> -->
<!-- 									<li class="active"><a href="#">Home</a></li> -->
<!-- 									<li><a href="#">Features</a></li> -->
<!-- 									<li><a href="#">Contact</a></li> -->
<!-- 								</ul> -->
<!-- 							</nav> -->
<!-- 						</div> -->
<!-- 					</div> -->
					<div class="inner cover">
						<h1 class="cover-heading">Welcome Gradleee Page</h1>
						<p class="lead">2022-07-05 ~ ing</p>
						<p class="lead">
							<a th:href="@{/main}" class="btn btn-lg btn-default">To Main</a>
						</p>
					</div>
	
				</div>
			</div>
		</div>
	</th:block>
</body>

<th:block layout:fragment="script">
	<script>
		$(function() {
			$("body").fadeIn(300);
		})
	</script>
</th:block>

</html>