<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jayksss.gradleee.user.mapper.UserMapper">

	<select id="selectUser" resultType="CamelMap">
		SELECT *
		FROM sakila.USER;
	</select>

	<insert id="inserUser" parameterType="User">
		INSERT INTO sakila.USER
		(
			USER_ID
			, PASSWORD
			, USER_NAME
			, JOB
			, REGIST_DATE
		) values (
			#{userId}
			, #{password}
			, #{userName}
			, #{job}
			, NOW()
		)
	</insert>
</mapper>